@import './css-variables.scss'

div.resizable-grid-container {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: auto 1fr;

  grid-template-areas:
    'header'
    'main';

  >.header {
    padding: 0 10px;
    grid-area: header;

    display: flex;

    .top-left-corner {
      width: 50px;
      border: 1px solid black;
    }

    >* {
      flex: 0 0 auto;
    }
  }

  >.main {
    grid-area: main;
    padding: 10px;
    padding-top: 0;
    overflow: auto;

    display: grid;

    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: 'sidebar main';

    position: relative;

    >.sidebar {
      grid-area: sidebar
    }

    >.svg-background {
      grid-area: main;
      border: none;
    }

    >.main {
      position: relative;
      border: none;
      grid-area: main;
      z-index: 1
    }
  }

}