.demo-grid-area {
  position: relative;

  display: flex;

  >.sidebar {
    flex: 0 0 100px;
    background-color: green;
    position: sticky;
    left: 0;
    z-index: 10;
  }

  >.resizable-grid {
    flex: 1 0 auto;
  }
}