@import '../css-variables.scss';

div.resizable-grid-container {
  border-collapse: collapse;
  position: relative;

  .top-left-corner {
    border: 1px solid $border-color;
  }

  .header-columns-container {
    display: flex;

    >.header-column {
      flex: 0 0 auto;
    }
  }
}