@import '../css-variables.scss';

div.header-rows-container {
  .header-row {
    border: 1px solid $border-color;
    border-top: none;
    text-align: center;
    border-collapse: collapse;

    .header-row-label {
      height: calc(100%);
    }

    position: relative;

    div.header-row-bottom-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $moving-holder-gap;
      z-index: 1;
      // sidebar-bottom: 1px solid $sidebar-color;

      &:hover {
        cursor: row-resize;
      }

      &.moving {
        background-color: $moving-holder-background-color;
      }
    }
  }
}